@{
    ViewData["Title"] = "Главная страница";
}
<div class="content">
    @using (Html.BeginForm())
    {
        @Html.TextBox("snils", null, new { @class = "head-input" })
        <input class="button-search" type="submit" value="Найти" />
    }
</div>

