@{
    ViewData["Title"] = "Главная страница";
}
<div>
    @using (Html.BeginForm())
    {
        @Html.TextBox("snils")
        <input class="btn btn-info" type="submit" value="Найти пациента" />
    }
</div>

